################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/savefiledecoder/bin/Debug
/.vs/savefiledecoder/v15
